body {
    /* background-color: rgb(245, 201, 26); */
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    margin: 0;
    text-align: center;
    /* Credit to https://heropatterns.com/ */
    background-color: #d8ebf2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%23d4c309' fill-opacity='0.1'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
   margin: 0 auto;
   
  }
  
  .sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
  }
  
  button {
    padding: 1.5rem;
    line-height: 1em;
    font-size: 1.5rem;
  
    border: 0;
    border-radius: 0.5rem;
    
    color: white;
    background-color: #4597f8;
    transition: background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  button:hover {
    background-color: #3472bd;
  }

  .hidden{

visibility: hidden;

  }

  /* .hidden-after{

    visibility: hidden;
  } */

  